<%= form_for(@tattoo, :html => {:multipart => true}) do |f| %>
  <% if @tattoo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tattoo.errors.count, "error") %>This tat can't be saved:</h2>
      <ul>
      <% @tattoo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pic %><br />
    <%= f.file_field :pic %>
  </div>
  <div class="field">
    <%= f.label :inspiration %><br />
    <%= f.text_area :inspiration, :placeholder => "Share your story." %>
  </div>
  <div class="field">
    <%= f.label :location_on_body %><br />
    <%= f.text_field :location_on_body %>
  </div>
  <div class="field">
    <%= f.label :date_started %><dr />
    <%= f.date_select :date_started%>
  </div>
  <div class="field">
    <%= f.label :date_completed %><dr />
    <%= f.date_select :date_completed%>
  </div>
  <div class="field">
    <%= f.label :hours_spent %><br />
    <%= f.text_field :hours_spent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>